body {
  font-family: Arial, sans-serif;
}

.container {
  padding-top: 20px;
}

header {
  margin-bottom: 20px;
}

.valuation-header {
  background-color: #f2f2f2; /* Light gray background */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Padding around content */
  margin-bottom: 20px; /* Spacing between header and other content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  text-align: center; /* Center text horizontally */
}

.valuation-header h2, .valuation-header h3 {
  margin: 0; /* Remove default margin */
  color: #1a73e8; /* Google blue */
  font-size: 24px; /* Larger font size */
  line-height: 1.5; /* Ensure proper spacing between lines */
}

.valuation-header h3 {
  margin-top: 10px; /* Add spacing between h2 and h3 */
  font-size: 20px; /* Smaller font size for h3 */
}

.valuation-nav {
  display: flex;
  gap: 20px; /* Adjust spacing between links */
  justify-content: center; /* Center items horizontally */
}

.valuation-link {
  color: #1a73e8;
  text-decoration: none;
  font-weight: bold;
}

.valuation-link:hover {
  text-decoration: underline;
}

/* Responsive styling */
@media (max-width: 768px) {
  .valuation-header {
    padding: 20px 15px; /* Adjust padding for smaller screens */
  }

  .valuation-header h2 {
    font-size: 20px; /* Adjust font size for smaller screens */
  }

  .valuation-header h3 {
    font-size: 16px; /* Adjust font size for smaller screens */
  }
}

.search-results {
  list-style-type: none;
  padding: 0;
}

.result-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
}

.result-item img {
  width: 150px;
  height: auto;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.result-item .result-info {
  padding: 10px;
  flex-grow: 1;
}

.result-info h4 {
  margin-top: 0;
  margin-bottom: 5px;
  color: #1a0dab; /* Google blue */
}

.result-info h4 a {
  text-decoration: none;
}

.result-info h4 a:hover {
  text-decoration: underline;
}

.price {
  font-weight: bold;
  margin-bottom: 5px;
  color: #1967d2; /* Google blue */
}

.description {
  margin-bottom: 0;
}

.footer {
  margin-top: 20px;
  text-align: center;
}
