body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

header h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

main {
    text-align: center;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.search-box input[type="text"] {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 24px;
    outline: none;
    font-size: 16px;
}

.search-box button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 24px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

.search-box button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    margin-top: 50px;
}

footer p {
    font-size: 14px;
    color: #666;
}

/* Tab styles */
.tablink {
    text-decoration: none; /* Remove default underline */
}

.tablink.active {
    background-color: #ddd;
}

.tablink:hover {
    text-decoration: underline; /* Change background color on hover */
}

